* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,h2{
    color: #444;
}
h3{
    color:rgb(160, 159, 159);
}


.btn, 
#new{
    background:#7bc5ea ;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

#btnSave{
    background:#7bc5ea ;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 6px;
}
.btn:hover,
#new:hover{
    background:white ;
    color: #7bc5ea;
    padding: 8px 18px;
    border: solid 1px #7bc5ea;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 14px;
    
}

/*table{
    padding: 10px;
}
th, td {
    text-align: left;
    padding: 8px;
    font-weight: 300;
}*/
.side-menu{
    position: fixed;
    background: #7bc5ea;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name img{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
    
}
.side-menu li:hover{
    background: white;
    color: #7bc5ea;
    
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
    
}
.container .header{
    position: fixed;
    top:0;
    right: 0;
    width: 80vw;
    height: 85px;
    background: white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 10px;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container .header .nav .search button img{
    width: 20px;
    height: 20px;
}

.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
}

.container .content{
    position: relative;
    margin-top: 10vw;
    min-height: 90vh;
    background: #f1f1f1;
}
.container .content .cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width: 300px;
    height: 200px;
    background: white;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container .content .cards .card img{
    background: #7bc5ea;
    padding: 10px;
    border-radius: 6px;
}

.container .content .content-2{
    min-height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #f1f1f1;
    
}
.container .content .content-1 .cursos{
    min-height: 30vh;
    flex: 5;
    background: white;
    margin: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .students,
.container .content .content-2 .teacher{
    min-height: 30vh;
    flex: 5;
    background: white;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    
} 


.container .content .content-2 .students table td:nth-child(1) img{
    height: 40px;
    width: 40px;
    
}

.container .content .content-2 .students .divTable,
.container .content .content-2 .teacher .divTable {
    padding: 20px;
    width: auto; 
    height:inherit; 
    overflow:auto;
   
}
.acao button img{
    height: 20px;
}
  
  .container .content .content-2 .teacher .divTable::-webkit-scrollbar {
    width: 12px;
    background-color: #444; 
}
  
  .container .content .content-2 .teacher .divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
}
table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }
thead {
    background-color: white;
}
th{
    font-weight: 300;
    padding: 10px;
}
tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
    
  }
tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
  }
  tbody tr td {
    vertical-align: text-top;
    padding: 10px;
    max-width: 50px;
  }
  thead tr th {
    padding: 10px;
    text-align: start;
    margin-bottom: 50px;
  }
  
  tbody tr {
    margin-bottom: 50px;
  }
  thead tr th.acao {
    width: 100px!important;
    text-align: center;
  }
  
tbody tr th.acao {
    width: 100px!important;
    text-align: center;
}
tbody tr td.acao {
    text-align: center;
}

@media screen and (max-width:1050px){
    .side-menu li{
        font-size: 18px;
    }
}
@media screen and (max-width:940px){
    .brand-name img{
        width: 40px;
    }
    .side-menu li span{
        display: none;
    }
    .side-menu{
        align-items: center;
    }
    .side-menu li img{
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover{
        background: #cecdcd;
        border-radius: 6px;
    }
    #new span{
        display: none;
        
    }
    thead tr th.acao {
        width: auto!important;
      }
      
      td button i {
        font-size: 20px!important;
      }
    
      td button i:first-child {
        margin-right: 0;
      }
    
      .modal {
        width: 90%!important;
      }
    
      .modal label {
        font-size: 12px!important;
      }
    
    
}
@media screen and (max-width:536px){
    
    
    .container .content .cards{
        justify-content: center;
    }
    .side-menu li img{
        width: 30px;
        height: 30px;

    }
    .container .content .content-1 .cursos table th:nth-child(2),
    .container .content .content-2 .cursos table td:nth-child(2){
        display: none;
    }
    
}
.modal-container-students,
.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
  }
  
  .modal label {
    font-size: 14px;
    width: 100%;
  }
  
  .modal input {
    width: 100%;
    outline: none;
    padding: 5px 10px; 
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .modal button {
    width: 100%;
    margin: 10px auto;
    outline: none;  
    width: 100%;
   
    color: white;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  td button {
    border: none;
    outline: none;
    background: transparent;
  }
  
  td button i {
    font-size: 25px;
  }
  
  td button i:first-child {
    margin-right: 10px;
  }